{% extends "layouts/oneColumn" %}

{% block bodyClass %}interior book book-page{% endblock %}

{% block top %}
{% include 'components/resourceHeader' %}
{% endblock %}
{% block main %}
<section class="page-section book-section">
	<div class="row section-row">
		<div class="large-9 medium-12 small-12 column">
			{% paginate craft.entries.section('books').featured('1').limit(1) as info, posts %}
			{% for post in posts %}
			<article class="columns featured-book" >
				<div class="large-12 medium-12 small-12 featured-book-post"><!--featured - book-post-->
					{% if post.bookImage|length %}
					{% set img = post.bookImage.one() %}
						<a href="{{post.url}}" title="{{ post.title }}">
							<div class="post-image large-6 medium-6 small-12" style="background-image: url('{{img.url}}');" alt="{{ img.altText|default(img.title) }}">
						</a>
					</div><!--post-image-->
					{% endif %}
					<div class="post-content large-6 medium-6 small-12">
						<h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
						</div><!--post-content-->
					{% for cat in post.resourceCategories.all() %}
					<span class="categories">
						<a class="category" href="{{ cat.url }}" title="{{ cat.title }}">{{ cat.title }}</a>
					</span>
					{% endfor %}
				</div><!--featured-book-post-->
			</article><!--columns-->
			{% endfor %}

			{% paginate craft.entries.section('books').featured('0').orderBy('postDate DESC').limit(6) as info, posts %}
			{% for post in posts %}
			<article class="large-4 medium-6 small-12 columns" style="float:left;">
				<div class="book-post">
					{% if post.bookImage|length %}
					<div class="post-image">
						{% set img = post.bookImage.one() %}
						{% set imgCrop = { mode: 'crop', width: 600, height: 400, quality: 100 } %}
						<a href="{{ post.url }}" title="{{ post.title }}">
							<img src="{{ img.url }}" width="{{ imgCrop.width }}" height="{{ imgCrop.width }}" alt="{{ img.altText|default(img.title) }}">
						</a>
					</div><!--post-image-->
					{% endif %}
					{% for cat in post.resourceCategories.all() %}
					<span class="categories">
						<a href="{{ cat.url }}" title="{{ cat.title }}">{{ cat.title }}</a>
					</span>
					{% endfor %}
					<div class="post-content">
						<h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
					</div><!--post-content-->

				</div><!--book-post-->
			</article><!--columns-->
			{% endfor %}
			{% if info.prevUrl or info.nextUrl %}
			<nav class="large-12 medium-12 small-12 columns pagination">
				<a class="button prev {{ not info.prevUrl ? 'unavailable' : '' }}" href="{{ info.prevUrl }}"></i> Prev</a>
				{% for page, url in info.getPrevUrls(5) %}
				<a class="button page" href="{{ url }}">{{ page }}</a>
				{% endfor %}
				<a class="button page current" href="#">{{ info.currentPage }}</a>
				{% for page, url in info.getNextUrls(5) %}
				<a class="button page" href="{{ url }}">{{ page }}</a>
				{% endfor %}
				<a class="button next {{ not info.nextUrl ? 'unavailable' : '' }}" href="{{ info.nextUrl }}">Next</a>
			</nav>
			{% endif %}
		</div>
		{% include 'components/resourceSidebar'%}
	</div><!--row-->
</section><!--page-section-->
{% endblock %}

{% block bottom %}
{% include 'includes/global-cta' %}
{% endblock %}

{% block scripts %}{% endblock %}
