{% extends "layouts/oneColumn" %}

{% block bodyClass %}interior podcast podcast-page{% endblock %}

{% block top %}
{% include 'components/resourceHeader' %}
{% endblock %}
{% block main %}
<section class="page-section podcast-section">
	<div class="row section-row">
		<div class="large-9 medium-12 small-12 column">
			{% paginate craft.entries.section('podcasts').featured('1').limit(1) as info, posts %}
			{% for post in posts %}
			<article class="columns featured-podcast" >
				<div class="large-12 medium-12 small-12 featured-podcast-post"><!--featured - podcast-post-->
					<a href="{{post.url}}" title="{{ post.title }}">
						<div class="podcast-image" alt="podcast-link">
					</a>
					</div><!--post-image-->
					<div class="podcast-content">
						<span class="post-meta">
							<span class="date">{{ post.postDate|date('M j, Y') }}</span>
						</span><!--post-meta-->
						{% for cat in post.resourceCategories.all() %}
						<span>
							<a class="podcast-category" href="{{ cat.url }}" title="{{ cat.title }}">{{ cat.title }}</a>
						</span>
						{% endfor %}
						<h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
						{% if post.podcastExcerpt|length %}
						<p>{{ post.podcastExcerpt|chop(limit=200, unit='w') }}...</p>
						{% endif %}
						<a href="{{ post.url }}" title="{{ post.title }}" class="play">Play</a>
					</div><!--post-content-->
				</div><!--featured-podcast-post-->
			</article><!--columns-->
			{% endfor %}
			{% paginate craft.entries.section('podcasts').featured('0').orderBy('postDate DESC').limit(10) as info, posts %}
			{% for post in posts %}
			<article class="large-4 medium-6 small-12" style="float:left;">
				<div class="podcast-post">
					<div class="post-image">
						<a href="{{post.url}}" title="{{ post.title }}">
							<div class="podcast-image" alt="podcast-link"></div>
						</a>
					</div><!--post-image-->
					<div class="podcast-content">
						<span class="post-meta">
							<span class="date">{{ post.postDate|date('M j, Y') }}</span>
						</span><!--post-meta-->
						{% for cat in post.resourceCategories.all() %}
						<span>
							<a class="podcast-category" href="{{ cat.url }}" title="{{ cat.title }}">{{ cat.title }}</a>
						</span>
						{% endfor %}
						<h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
					</div><!--post-content-->
				</div><!--podcast-post-->
			</article><!--columns-->
			{% endfor %}
			{% if info.prevUrl or info.nextUrl %}
			<nav class="large-12 medium-12 small-12 columns pagination">
				<a class="button prev {{ not info.prevUrl ? 'unavailable' : '' }}" href="{{ info.prevUrl }}"></i> Prev</a>
				{% for page, url in info.getPrevUrls(5) %}
				<a class="button page" href="{{ url }}">{{ page }}</a>
				{% endfor %}
				<a class="button page current" href="#">{{ info.currentPage }}</a>
				{% for page, url in info.getNextUrls(5) %}
				<a class="button page" href="{{ url }}">{{ page }}</a>
				{% endfor %}
				<a class="button next {{ not info.nextUrl ? 'unavailable' : '' }}" href="{{ info.nextUrl }}">Next</a>
			</nav>
			{% endif %}
		</div>
		{% include 'components/resourceSidebar'%}
	</div><!--row-->
</section><!--page-section-->
{% endblock %}

{% block bottom %}
{% include 'includes/global-cta' %}
{% endblock %}

{% block scripts %}{% endblock %}
