{% extends "layouts/oneColumn" %}
{% block bodyClass %}interior podcast post-page{% endblock %}
{% set parent = craft.entries.section('pages').slug(craft.app.request.segments).one() %}
{% block top %}
<section class="page-header" style="padding-top:60px;">
	<div class="row align-middle align-center">
		<div class="large-12 medium-12 small-12 columns">
			<nav class="breadcrumbs" role="navigation">
				<div class="row align-middle">
					<div class="large-12 medium-12 small-12 columns">
						{% include 'functions/breadcrumbs' %}
					</div><!--columns-->
				</div><!--row-->
			</nav><!--breadcrumbs-->
			<div class="header-content">
				<h1>{{ entry.title }}</h1>
				<span class="date">
					{{ entry.postDate|date('F j, Y') }}
				</span>
			</div><!--header-content-->
		</div><!--columns-->
	</div><!--row-->
</section><!--page-header-->
{% endblock %}
{% block main %}
<section class="page-section podcast-post-page">
	<div class="row align-center">
		<article class="large-9 medium-10 small-12 column">
			<div class="post-content">
				{% if entry.podcastImage|length %}
				{% set img = entry.podcastImage.one() %}
				<div class="article-image large-12 medium-12 small-12" style="background-image: url('{{img.url}}');" alt="{{ img.altText|default(img.title) }}">
				</div><!--post-image-->
				{% endif %}
				<br>
				<br>
				{{ entry.podcastLink }}
				{{ entry.podcastContent }}
			</div><!--row-->
		</article><!--article-post-->
	</div><!--row-->
</section><!--page-content-->
{% include 'includes/newsletter' %}
<!-- related -->
{% if entry.resourceCategories|length %}
{% include 'components/relatedResources' %}
{% endif %}
{% endblock %}
{% block bottom %}
{% include 'includes/global-cta' %}
{% endblock %}
