{% extends "layouts/oneColumn" %}

{% block bodyClass %}interior sitemap-page{% endblock %}

{% block top %}
<section class="page-header" {% if entry.headerBackgroundColor|length %}style="background-color: {{ entry.headerBackgroundColor }};"{% endif %}>
	<div class="row align-middle align-center">
		<div class="large-12 medium-12 small-12 columns">
			<div class="header-content">
				<h1>{{ entry.title }}</h1>
			</div><!--header-content-->
		</div><!--columns-->
	</div><!--row-->

	{% if entry.headerBackgroundImage|length %}
	<div class="header-image" style="background: url('{{ entry.headerBackgroundImage.one().getUrl() }}') no-repeat {{ entry.headerBackgroundImagePosition }} / {{ entry.headerBackgroundImageSize }}; opacity: {{ entry.headerBackgroundImageOpacity }};"></div><!--header-image-->
	{% endif %}
</section><!--page-header-->

<nav class="breadcrumbs" role="navigation">
	<div class="row align-middle">
		<div class="large-12 medium-12 small-12 columns">
			{% include 'functions/breadcrumbs' %}
		</div><!--columns-->
	</div><!--row-->
</nav><!--breadcrumbs-->
{% endblock %}

{% block main %}
<section class="page-section sitemap-section">
	<div class="row section-row align-center">
		{% include 'functions/sitemap' %}
	</div><!--row-->
</section><!--page-section-->
{% endblock %}

{% block scripts %}
{% endblock %}
