{% if block.resourceCategories is empty %}
{% paginate craft.entries.section('books').orderBy('postDate DESC').limit(2) as info, posts %}
{% else %}
{% paginate craft.entries.section('books').relatedTo(block.resourceCategories).orderBy('postDate DESC').limit(2) as info, posts %}
{% endif %}
{% for post in posts %}
<article class="large-6 medium-6 small-12 columns" style="float:left;">
     <div class="book-post">
          {% if post.bookImage|length %}
          <div class="post-image">
               {% set img = post.bookImage.one() %}
               {% set imgCrop = { mode: 'crop', width: 600, height: 400, quality: 100 } %}
               <a href="{{ post.url }}" title="{{ post.title }}">
                    <img src="{{ img.url }}" width="{{ imgCrop.width }}" height="{{ imgCrop.width }}" alt="{{ img.altText|default(img.title) }}">
               </a>
          </div><!--post-image-->
          {% endif %}
          <div class="post-content">
               <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
               <a href="{{ post.url }}" title="{{ post.title }}" class="read-more">Read More</a>
          </div><!--post-content-->
          {% for cat in post.resourceCategories.all() %}
          <span class="categories">
               <a class="category" href="{{ cat.url }}" title="{{ cat.title }}">{{ cat.title }}</a>
          </span>
          {% endfor %}
     </div><!--book-post-->
</article><!--columns-->
{% endfor %}
