{% if entry.callOutIcon|length %}
{% set img = entry.callOutIcon.one() %}
{% set imgCrop = { mode: 'crop', width: 60, height: 60, quality: 100 } %}
     <span class="circle-image"><img src="{{ img.url(imgCrop) }}" width="{{ imgCrop.width }}" height="{{ imgCrop.width }}" alt="{{ img.altText|default(img.title) }}"></span>
{% endif %}
{% if entry.callOutHeading|length %}
     <h3>{{ entry.callOutHeading }}</h3>
{% endif %}
{% if entry.callOutText|length %}
     {{ entry.callOutText }}
{% endif %}
